.xianzi-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 100;

  image,
  img {
    position: absolute;


  }

  .tips-xianzi {
    width: 262px;
    height: 387px;
    right: 5px;
    bottom: 406px;
  }

  .box-xianzi {
    width: 439px;
    height: 318px;
    left: 50px;
    bottom: 468px;
  }

  .know-btn,
  .pk-btn {
    width: 205px;
    height: 58px;
    left: 157px;
    bottom: 378px;
  }

  .tips-text {
    width: 357px;
    height: 245px;
    position: absolute;
    left: 80px;
    bottom: 505px;
    font-size: 24px;
    overflow-y: auto;
    text-align: justify;
    color: #00807A;
    .keyword{
      color: #B60005;
      font-weight: bold;
    }
  }
}
.jump{
  animation: jump 1.5s infinite ease-in-out alternate
}
@keyframes jump{
  from {transform: translate3d(0,10px,0);}
  to {transform: translate3d(0,-30px,0);}
}
