@import '@/style/common.scss';
.niuqi-record-container {
  position: relative;
  width: 620px;
  height: 929px;
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  background-size: 100%;
  color: white;
  left: -20px;
  top: -20px;
  .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 20px;
    top: 30px;
  }
  .record-list {
    &::-webkit-scrollbar{
      display: none;
    }
    width: 550px;
    height: 460px;
    padding: 16px;
    text-align: justify;
    overflow-y: auto;
    box-sizing: border-box;
    padding-left: 45px;
    transform: translate(45px, 200px);
    color: #157C77;
    .record-item {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.5;
      padding: 14px 0;
      border-bottom: 1px dashed #0097B1;
      .line{
        display: flex;
        justify-content: space-between;
        &+.line{
          margin-top: 12px;
        }
        .time {
          color: #767676;
          font-size: 24px;
          font-weight: normal;
        }
        .plus {
          color: #157C77
        }
        .minus {
          color: #E60012
        }
      }
    }
  }
  .no-data{
    padding-right: 20px;
    padding-top: 200px;
    text-align: center;
    font-size: 28px;
    color: #084439;
    padding-left: 60px;
  }
  .hedian-btn {
    width: 231px;
    position: absolute;
    left: 220px;
    bottom: 100px;
  }
}
