.shop-list-wrapper {
  padding: 0 32px;
  .shop-list-item {
    padding: 32px 0;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .shop-info {
      .shop-name {
        font-size: 34px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .shop-addr {
        font-size: 28px;
        color: #2DA4D9
      }
    }
    .shop-location {
      text-align: center;
      .location-icon {
        width: 44px;
        height: 44px;
      }
      .location-distance {
        color: #999;
        font-size: 16px;
      }
    }
  }
  .list-no-data {
    text-align: center;
    padding: 200px 50px;
    font-size: 28px;
    color: #999;
    image {
      width: 200px;
      margin-bottom: 30px;
    }
    
  }
}