@import "@/style/common.scss";
page {
  // background-color: #35cab9;
  // background: linear-gradient(180deg, #AAE3E5 40%, #F59FA3 100%);
}
.pk-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  .pk-bg {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #FBDCD3;
    background-size: 100%;
    background-repeat: no-repeat;
    .pk-bg-top {
      width: 702px;
      height: 390px;
      position: absolute;
      top: 25px;
      left: 25px;
    }
    .pk-bg-bottom {
      width: 668px;
      height: 261px;
      position: absolute;
      bottom: 0;
      left: 41px;
    }
    // background: linear-gradient(180deg, #AAE3E5 40%, #F59FA3 100%);
  }

  .pkinfo-box {
    margin-top: 450px;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 58px;

    .vs-text {
      width: 104px;
      position: absolute;
      transform: translateY(-4px);
      z-index: 2;
    }

    .pk-user-info-box {
      position: relative;
      // background: rgba($color: $secondary-color, $alpha: 0.7);
      // border-radius: 50px;
      display: inline-flex;
      background-repeat: no-repeat;
      background-size: contain;
      width: 292px;
      height: 103px;
      margin-right: 0;
      font-size: 0;
      &.right {
        text-align: right;
        // flex: 1;
        .avatar {
          right: 9px;
          width: 96px;
          height: 96px;
          top: 50px!important;
        }
      }
      &.left {
        // flex: 1;
        .avatar {
          left: 6px;
          width: 90px;
          height: 90px;
          top: 51px!important;
        }
      }

      .avatar,
      .nickname {
        display: inline-block;
        vertical-align: middle;
        font-size: 34px;
        font-weight: 500;
      }

      .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        // border: 8px solid rgba($color: $secondary-color, $alpha: 0.7);
        position: absolute;
        transform: translateY(-50%);
        top: 49%;
        overflow: hidden;
        box-sizing: border-box;
        .avatar-img{
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
    }
  }

  .nickname-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
    font-size: 0;
    margin-top: 4px;
    .nickname {
      flex: 1;
      // background-color: #006888;
      border-radius: 20px;
      color: #111;
      font-size: 26px;
      padding: 6px 20px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.left{
        padding-right: 142px;
      }
      &.right{
        padding-left: 142px;
      }
    }
  }

  .gestrue-box {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 64px auto 0 auto;
    padding: 0 77px;

    .gestrue-item {
      text-align: center;
      // margin-right: 16px;

      .gestrue-icon {
        width: 182px;
        height: 182px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        image,
        img {
          width: 100%;
          height: 100%;
        }
      }

      .gestrue-radio {
        text-align: center;
        padding-top: 20px;
      }
    }
  }
  .btn-tips{
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 30px;
  }
  .btn-wrapper {
    text-align: center;
    margin-top: 0px;
    image,
    img {
      width: 231px;
      height: 68px;
    }
  }

  .pk-gestrue-box {
    display: flex;
    justify-content: space-between;
    // margin-top: 132px;

    image,
    img {
      width: 45%;
    }
    .left {
      transform: translateX(-350px);
      animation: slideLeft ease-in-out 1s forwards;
    }

    .right {
      transform: translateX(350px);
      animation: slideRight ease-in-out 1s forwards;
    }
  }
  .choose-text {
    text-align: center;
    margin-top: 12px;
    image {
      width: 210px;
      height: 28px;
    }
  }
}

@keyframes slideLeft {
  from {
    transform: translate3d(-400px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideRight {
  from {
    transform: translate3d(400px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
