.xianzi-pk-modal {
  position: fixed;
  width: 676px;
  height: 686px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .xianzi-pk-bg {
    position: absolute;
    width: 676px;
    height: 686px;
  }
  .xianzi-pk-btn {
    position: absolute;
    width: 231px;
    height: 68px;
    right: 215px;
    bottom: 111px;
  }
  .xianzi-pk-tips {
    width: 400px;
    height: 100px;
    position: absolute;
    left: 150px;
    bottom: 250px;
    font-size: 24px;
    overflow-y: auto;
    text-align: justify;
    color: #084439;
  }
  .tips-xianzi {
    position: absolute;
    width: 298px;
    height: 334px;
    left: 222px;
    bottom: 472px;
  }
  .jump{
    animation: jump 1.5s infinite ease-in-out alternate
  }
  @keyframes jump{
    from {transform: translate3d(0,10px,0);}
    to {transform: translate3d(0,-30px,0);}
  }
}